<% if logged? %>
    <section class="admin">
        <h1>Admin</h1>
        <ul>
            <li><a href="/post">New post</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </section>
<% end %>